*.DS_Store
*.log

.idea/
node_modules/
dist/
npm-debug.log
.tern-port
storybook-static/
.projections.json
.cache
.local
__diff_output__
packages/cypress/screenshots
packages/cypress/videos
packages/cypress/results
packages/cypress/cypress-report
/.yalc
/yalc.lock
cache/
artifacts
.zhsrc
coverage/*

app/translations/*
!app/translations/en
.python-version
